[user]
	email = 54658759+lugen4ro@users.noreply.github.com
	name = lugen4ro
[init]
	defaultBranch = main
[core]
	editor = nvim
    pager = delta
[alias]
    # show commits in graph mode
	lg = log --oneline --graph
    # show current status in short mode
	st = status -s
    # show all branch names of branches you've used recently
    br = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
    # by default push new branches to the default remote
    autoSetupRemote = true
[interactive]
	; diffFilter = diff-so-fancy --patch
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig
[delta]
    navigate = true    # use n and N to move between diff sections
    ; side-by-side = true
    true-color = always
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = box ul
	dark = true
	file-decoration-style = "#cdd6f4"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a6adc8"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = bold "#f38ba8"
	line-numbers-plus-style = bold "#a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 25% red 75% base
	minus-emph-style = bold syntax "#53394c"
	# 10% red 90% base
	minus-style = syntax "#34293a"
	# 25% green 75% base
	plus-emph-style = bold syntax "#404f4a"
	# 10% green 90% base
	plus-style = syntax "#2c3239"
	map-styles = \
		bold purple => syntax "#494060", \
		bold blue => syntax "#384361", \
		bold cyan => syntax "#384d5d", \
		bold yellow => syntax "#544f4e"
	# Should match the name of the bat theme
	syntax-theme = Catppuccin Mocha
    file-style = bold yellow ul
    hunk-header-decoration-style = green box ul
    file-decoration-style = yellow ul 
    ; file-transformation = s/^/\n\n\n\n/ ; something like this
    ; hunk-header-label = 
    ; hunk-header-decoration-style = ul
    ; hunk-header-file-style = red
    ; file-removed-label = ⛔
    ; file-added-label = 🟢
    ; file-modified-label = 
    max-line-distance = 1
    paging = auto ; <auto|always|never>
    ; hunk-label = aaaa

